{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}
{% block body %}
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">
            Войти или <a href="{{ url_for('customer.registration') }}">Зарегистрироваться</a>
        </h1>
        <form method="post">
            {{ log_form.hidden_tag() }}
            {% for field in log_form if field.name not in ['csrf_token', 'remember', 'submit'] %}
                <div class="form-floating">
                    {{ field(class_="form-control") }}
                    {{ field.label() }}
                </div>
            {% endfor %}
            <div class="checkbox mb-3">
                {{ log_form.remember.label() }}{{ log_form.remember() }}
            </div>
            {{ log_form.submit(class_="w-100 btn btn-lg btn-primary") }}
        </form>
    </main>
{% endblock %}