{% extends 'admin/base_admin.html' %}

{% block content %}
    {% if srch_form %}
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post">
            {{ srch_form.hidden_tag() }}
            {{ srch_form.category() }}
            {{ srch_form.value(type='search', placeholder='Search...') }}
        </form>
    {% endif %}
    <div id="login" class="wnd_dlg_back login_wnd">
        <div class="login">
            <p class="title">Админ-панель</p>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <form method="post">
                {{ form.hidden_tag() }}
                <p>{{ form.login.label(class_='form-label') }}
                    {{ form.login() }}
                <p>{{ form.psw.label(class_='form-label') }}
                    {{ form.psw() }}
                <p style="text-align: center">{{ form.submit(class_="login_button") }}
            </form>
        </div>
    </div>
{% endblock %}